<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Miniarcadia</title>
    <link rel="stylesheet" href="env_travail/workspace/miniarcadia/index.html">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/habitats.css">
    <link rel="stylesheet" href="../pages.html/contact.html">
    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/animal.css">
</head>

<body>
  

  <header>
    <nav class="topnav">
      <img src="../img/logo-zoo-arcadia/logo-min-arcadia.png" alt="logo arcadia"
      class="navlogo">
      <a href="#home" class="active">Home</a>
      <a href="#notice">Avis</a>
      <a href="./view/pages.html/contact.html">Contact</a>
      <a href="./view/pages.html/login.html" class="split">Login</a>
    </nav>
  <div class="presentation">
    
    <div>
      <h1> BIENVENUE AU ZOO ARCADIA </h1>
      <h2>Entrez au coeur de la forêt de Brocelian et profitez de la diversité
        de la vie animale tout en contribuant à la préservation de la faune sauvage.
      </h2>
    </div>
  </div>
</header>

<div class="animal-column">
    <div class="animal-card">
      <img src="../img/jungle/jungle-ours-alexandru-bogdan-ghita-ErfqBlV3AEo-unsplash.jpg" alt="Jane" class="animal-picture">
      <div class="animal-container">
        <h2>Jane Doe</h2>
        <p class="animal-title">CEO &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</body>
</html>