<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page Ours brun</title>
  <link rel="stylesheet" href="http://127.0.0.1:3000/index.html">
  <link rel="stylesheet" href="/view/css/index.css">
  <link rel="stylesheet" href="/view/pages.html/contact.html">
  <link rel="stylesheet" href="/view/pages.html/login.html">
  <link rel="stylesheet" href="/view/pages.html/hours.html">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/animal.css">
</head>

<body>


  <header>
    <nav class="topnav">
      <img src="/asset/images/logo-arcadia/logo-max-arcadia.png" alt="logo arcadia" class="navlogo">
      
      <a href="http://127.0.0.1:3000/index.html" class="active">Home
        <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid"
         class="arrowleft">
  </a>
      <a href="#notice">Avis</a>
      <a href="/view/pages.html/contact.html">Contact</a>
      <a href="/view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">

      <div>
        <h1> BIENVENUE AU ZOO ARCADIA </h1>
        <h2>Entrez au coeur de la forêt de Brocelian et profitez de la diversité
          de la vie animale tout en contribuant à la préservation de la faune sauvage.
        </h2>
      </div>
    </div>
  </header>

  <div class="split left">
    <div class="centered">
      <h2>Ours brun</h2>
      <img src="/asset/images/jungle/jungle-pandageant-lukas-w-e3mu-MTj7Xk-unsplash.jpg" alt="ours brun">
      <h3 >Rapport santé</h3>
      <p>
      <table class="animal-health">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
        </tr>
      </table>
    </p>
    </div>
  </div>

  <div class="split right">
    <div class="description">
      <h2>Description</h2>
      <p>Les ours sont des omnivores et leur régime alimentaire est varié en fonction de l'espèce, 
        de la région où ils vivent et de la saison. En général, les ours se nourrissent 
        d'une grande variété d'aliments, notamment des fruits, des baies, des noix, des graines, 
        des racines, des insectes, du poisson, du miel, des petits mammifères et parfois 
        des carcasses d'animaux morts.Les ours se nourrissent également de végétaux 
        tels que de l'herbe, des feuilles, des pousses et des écorces. Certains ours, 
        comme les ours polaires, se nourrissent principalement de viande et de poissons en 
        raison de leur habitat arctique où les plantes sont rares.En captivité, les ours reçoivent 
        généralement un régime alimentaire adapté à leurs besoins nutritionnels spécifiques, 
        qui peut inclure un mélange de fruits, de légumes, de protéines animales et végétales, 
        de vitamines et de minéraux.
      </p>
    </div>
  </div>

</body>
</html>