<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page Ours brun</title>
  <link rel="stylesheet" href="http://127.0.0.1:3000/index.html">
  <link rel="stylesheet" href="/view/css/index.css">
  <link rel="stylesheet" href="/view/pages.html/contact.html">
  <link rel="stylesheet" href="/view/pages.html/login.html">
  <link rel="stylesheet" href="/view/pages.html/hours.html">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/animal.css">
</head>

<body>
  <header class="animal-header">
    <nav class="topnav">
      <img src="/asset/images/logo-arcadia/logo-max-arcadia.png" alt="logo arcadia" class="navlogo">
      <a href="http://127.0.0.1:3000/index.html" class="active">Home
        <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid" class="arrowleft">
      </a>
      <a href="#notice">Avis</a>
      <a href="/view/pages.html/contact.html">Contact</a>
      <a href="/view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">
      <div>
        <h1> BIENVENUE AU ZOO ARCADIA </h1>
        <h2>Entrez au coeur de la forêt de Brocelian et profitez de la diversité
          de la vie animale tout en contribuant à la préservation de la faune sauvage.
        </h2>
      </div>
    </div>
  </header>
  <main>
    <div class="split left">
      <div class="centered">
        <h2>Ours brun</h2>
        <img src="/asset/images/jungle/jungle-pandageant-lukas-w-e3mu-MTj7Xk-unsplash.jpg" alt="ours brun">
        <h3>Rapport santé</h3>
        <p>
        <table class="animal-health">
          <tr>
            <th>Firstname</th>
            <th>nourriture</th>
            <th>grammes</th>
          </tr>
          <tr>
            <td>Panda</td>
            <td>bambou</td>
            <td>50</td>
          </tr>
          <tr>
            <td></td>
            <td>herbes</td>
            <td>94</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>80</td>
          </tr>
        </table>
        </p>
      </div>
    </div>

    <div class="split right">
      <div class="description">
        <h2>Description</h2>
        <p>Les pandas géants sont principalement herbivores et leur régime
          alimentaire est composé principalement de bambou.
          En moyenne, un panda géant adulte peut consommer entre 12 et 38 kg
          de bambou par jour pour répondre à ses besoins nutritionnels.
          Les pandas géants mangent également d'autres plantes, des fruits,
          des insectes et parfois de petits mammifères.En captivité,
          les pandas géants reçoivent un régime alimentaire varié qui peut
          comprendre du bambou, des fruits, des légumes, des biscuits spéciaux
          pour pandas, du miel et d'autres suppléments nutritionnels pour
          s'assurer qu'ils reçoivent tous les nutriments nécessaires.
          Les pandas géants sont une espèce menacée en raison de la déforestation,
          de la fragmentation de leur habitat et d'autres facteurs.
          Des efforts de conservation sont déployés pour protéger ces animaux
          emblématiques. Si vous avez d'autres questions sur les pandas ou sur
          d'autres sujets, n'hésitez pas à demander.

        </p>
      </div>
    </div>
  </main>

  <footer>
    <a id="myMap" class="footer-links">Plan</a>
    <div id="myMapModal" class="map-modal">
      <div class="modal-content">
        <span class="map-close">&times;</span>
        <p>
          <img src="asset/images/map-arcadia/Zoo_Arcadia_Forêtde_Broceliande_big.png" class="map-size"
            alt="plan arcadia">
        </p>
      </div>
    </div>

    <a href="/view/pages.html/hours.html" class="footer-links">Horaires</a>
    <a href="https://www.instagram.com/mini_arcadia" class="footer-links">Nous retouver sur Instagram</a>
    <a href="" class="footer-links">Copyright</a>
  </footer>
</body>

</html>