<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body class="form-body">

    <header>
        <nav class="topnav">
          <img src="../img/logo-zoo-arcadia/logo-max-arcadia.png" alt="logo arcadia"
          class="navlogo">
          <a href="http://127.0.0.1:3000/index.html" class="active">Home
                <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid"
                 class="arrowleft">
          </a>
          <a href="#notice">Avis</a>
          <a href="./view/pages.html/contact.html">Contact</a>
          <a href="./view/pages.html/login.html" class="split">Login</a>
        </nav>
      <div class="presentation">
        <div>
          <h1>Nous contacter</h1>
          <h2>Envoyez-nous votre demande d'information en remplissons ce formulaire</h2>
        </div>
      </div>
      </header>
    <div>
        
        
        
    </div>
    <div id="responseMessage"></div>
     
     <form id="contactForm" class="form">
        <label for="email">Ecrivez votre adresse email</label>
        <input type="email" id="contactEmail" placeholder="email address" name="mail" required><br>

        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="title">

        <label for="contactinfo">Exprimez votre demande</label> <br>
        <textarea id="contactInfo" name="contactinfo" placeholder="Writte your question"></textarea>


        <input type="submit" value="miniarcadiasab@outlook.com">
    </form>

    <!--THE FOOTER-->
  <footer class="footer">

    <!-- Trigger/Open The Modal -->
    <button id="myPlanBtn">Plan</button>

    <!-- The Modal -->
    <div id="myPlanModal" class="plan_modal">

      <!-- Modal content-->
      <div class="plan-modal-content">
        <span class="planclose">&times;</span>
        <img src="assets/images/zoo-arcadia/Zoo_Arcadia_Forêtde_Broceliande.png" alt="map">
      </div>

    </div>

    <!--commentaireTrigger/Open The Modal -->
    <button id="myHorairesBtn">Horaires</button>

    <a href="https://www.instagram.com/mini_arcadia" class="footer-links">Nous retouver sur Instagram</a>

    <!--JS FETCH
    <p id="copyright">Fetch a file to change this text.</p>-->
    <a href="" class="footer-links">Copyright</a>

  </footer>
    

</body>
</html>