<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/view/css/index.css">
  <link rel="stylesheet" href="./view/pages.html/contact.html">
  <link rel="stylesheet" href="./view/css/gallery.css">
  <link rel="stylesheet" href="./view/css/login.css">
  <link rel="stylesheet" href="./view/css/footer.css">
  <link rel="stylesheet" href="./view/css/spinner.css">
  <title>Dashboard</title>
</head>

<body>
  <!--<div class="spinner">
    <div class="spinner-border">
        <div class= "spinner-center">
          <img src="/asset/images/logo-arcadia/logo-min-arcadia.png" class="spin-logo" alt="logo">
        </div>
    </div>
</div>-->

  <header>
    <nav class="topnav">
      <img src="/asset/images/logo-arcadia/logo-max-arcadia.png" alt="logo arcadia" class="navlogo">
      <a href="#home" class="active">Home</a>
      <a href="#notice">Avis</a>
      <a href="http://127.0.0.1:3000/view/pages.html/contact.html">Contact</a>
      <a href="http://127.0.0.1:3000/view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">
      <div>
        <h1> BIENVENUE AU ZOO ARCADIA </h1>
        <h2>Entrez au coeur de la forêt de Brocelian et profitez de la diversité
          de la vie animale tout en contribuant à la préservation de la faune sauvage.
        </h2>
      </div>
    </div>
  </header>