<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/hours.css">
</head>

<body class="form-body">

    <header>
        <nav class="topnav">
            <img src="../img/logo-zoo-arcadia/logo-max-arcadia.png" alt="logo arcadia" class="navlogo">
            <a href="http://127.0.0.1:3000/index.html" class="active">Home
                <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid" class="arrowleft">
            </a>
            <a href="#notice">Avis</a>
            <a href="./view/pages.html/contact.html">Contact</a>
            <a href="./view/pages.html/login.html" class="split">Login</a>
        </nav>
        <div class="presentation">
            <div>
                <h1>Nos horaires</h1>

            </div>
        </div>
    </header>
    <main>
        <table>
            <tr>
                <th>Mois</th>
                <th>Jours</th>
                <th>Heures</th>
            </tr>
            <tr>
                <td>Avril à Septembre</td>
                <td>Mardi à Vendredi</td>
                <td>10H à 18H</td>
            </tr>
            <br>
            <tr>
                <td>Octobre à Mars</td>
                <td>Mardi à Vendredi</td>
                <td>10H à 16H30</td>
            </tr>
        </table>
    </main>

    <footer>
        <a id="myMap" class="footer-links">Plan</a>
        <div id="myMapModal" class="map-modal">
            <div class="modal-content">
                <span class="map-close">&times;</span>
                <p>
                    <img src="asset/images/map-arcadia/Zoo_Arcadia_Forêtde_Broceliande_big.png" class="map-size"
                        alt="plan arcadia">
                </p>
            </div>
        </div>

        <a id="myHours" class="footer-links">Horaires</a>
        <a href="https://www.instagram.com/mini_arcadia" class="footer-links">Nous retouver sur Instagram</a>
        <a href="" class="footer-links">Copyright</a>

    </footer>

</body>

</html>