<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://127.0.0.1:3000/index.html">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../pages.html/contact.html">
  <link rel="stylesheet" href="../css/gallery.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <title>Jungle</title>
</head>

<body>

  <header>
    <nav class="topnav">
      <img src="../img/logo-zoo-arcadia/logo-min-arcadia.png" alt="logo arcadia" class="navlogo">
      
      <a href="http://127.0.0.1:3000/index.html" class="active">Home
        <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid" class="arrowleft">
      </a>
      <a href="#notice">Avis</a>
      <a href="./view/pages.html/contact.html">Contact</a>
      <a href="./view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">

      <div>
        <h1> La jungle </h1>
        <h2>
        </h2>
      </div>
    </div>
  </header>

 
  <!--THE FOOTER-->
  <footer>
    <button id="myPlanBtn"><a href="/asset/images/map-arcadia/Zoo_Arcadia_Forêtde_Broceliande.png" alt="map">
    </a>Plan</button>
    
    <button id="myHorairesBtn">Horaires</button>

    <a href="https://www.instagram.com/mini_arcadia" class="footer-links">Nous retouver sur Instagram</a>
    <!--JS FETCH
    <p id="copyright">Fetch a file to change this text.</p>-->
    <a href="" class="footer-links">Copyright</a>

  </footer>

  <script src="./view/script.js/index.js"></script>
  <script src="./view/script.js/index_login.js"></script>
  <script src="./vieuw/script.js/contact.js"></script>
  <!--<script src="./view/script.js/notice.js"></script>
  <script src="./view/script.js/footer.js"></script>
  <script src="./view/script.js/plan.js"></script>
  <script src="./view/script.js/horaires.js"></script>-->

</body>
</html>