<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://127.0.0.1:3000/index.html">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../pages.html/contact.html">
  <link rel="stylesheet" href="../css/gallery.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <title>Marais</title>
</head>

<body>

  <header>
    <nav class="topnav">
      <img src="../img/logo-zoo-arcadia/logo-min-arcadia.png" alt="logo arcadia" class="navlogo">
      <a href="http://127.0.0.1:3000/index.html" class="active">Home</a>
      <a href="#notice">Avis</a>
      <a href="./view/pages.html/contact.html">Contact</a>
      <a href="./view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">

      <div>
        <h1> Le marais </h1>
        <h2>
        </h2>
      </div>
    </div>
  </header>

  <main>

    <div class="row">
      <div class="column habitats">
        <div class="content">
          <img class="img-gal" src="../img/les habitats/marais-habitat-jevgenij-voronov-YL5ZDmdDNEY-unsplash.jpg"
            alt="le marais" />
          <h4><a href="./view/html/marais.html" class="link-hab">Marais</a></h4>
          <p>Animaux : Crocodile, Cygne, Flamant rose, Hippopotame
          </p>
        </div>
      </div>
      
      
      <div class="column animaux">
        <div class="content">
          <img class="img-gal" src="../img/marais/crocodile-glen-carrie-RIQjCqmcGNw-unsplash.jpg"
            alt="marais-flamant_mange" />
          <h4>Flamant rose</h4>
          <p></p>
        </div>
      </div>
      <div class="column animaux">
        <div class="content">
          <img class="img-gal" src="../img/marais/marais-cygne-nick-fewings-LdIEDdBhBoY-unsplash.jpg"
            alt="cygne blanc" />
          <h4>Cygne blanc</h4>
          <p></p>
        </div>
      </div>
      <div class="column animaux">
        <div class="content">
          <img class="img-gal" src="./asset/images/marais/marais-hippopotame-jonathan-gohner-qxVxn-Mp8f4-unsplash.jpg"
            alt="hippopotame dans un marais" />
          <h4>Hippopotame</h4>
          <p></p>
        </div>
      </div>

      <div class="column animaux">
        <div class="content">
          <img class="img-gal" src="./asset/images/marais/crocodile-glen-carrie-RIQjCqmcGNw-unsplash.jpg"
            alt="crocodile" />
          <h4>Crocodile</h4>
          <p></p>
        </div>
      </div>

        <!-- Portfolio Gallery Grid -->
        <div class="jungle-row">
          <div class="jungle-column">
            <div class="jungle-content">
              <div class="animal-dossier">
                <img class="jungle-img" src="../img/marais/crocodile-glen-carrie-RIQjCqmcGNw-unsplash.jpg"
                  alt="crocodile">
                <div>
                </div>
                <h3>Crocodile</h3>
                <p>Le crocodile est un reptile qui possède une grande gueule, de puissantes mâchoires 
                  et peut atteindre plus de 7 mètres de long. 
                  Chacune de ses 4 pattes comporte 4 doigts, et ceux de ses pattes arrière sont réunis par une
                  membrane facilitant la nage.
                  Son corps est recouvert d’écailles cornées sur son dos.
                  Les crocodiles vivent dans les marais et dans les cours d’eau des différentes
                  régions intertropicales. Ils savent bien nager.
                  Mais ils peuvent aussi marcher sur terre et courir très vite
                  (mais seulement à courte distance).
                  Le crocodile est un carnivore. Il se nourrit de divers animaux tels que des poissons,
                  des oiseaux, des serpents… Il peut s’attaquer aussi aux grands mammifères qui
                  viennent s’abreuver au bord des rivières comme les zébus, les zèbres, les girafes… Pour tuer ses
                  proies, il les noie puis il avale ses victimes sans les mâcher.

                </p>
              </div>
            </div>
            <div class="jungle-column">
              <div class="jungle-content">
                <div class="animal-dossier">
                  <img class="jungle-img" src="../img/marais/marais-cygne-nick-fewings-LdIEDdBhBoY-unsplash.jpg"
                    alt="cygne blanc">
                  <div></div>
                </div>
                <h3>Cygne blanc</h3>
                <p>Le cygne tuberculé, appelé également le cygne blanc ou le cygne muet, est une espèce d’oiseau
                  appartenant à l’ordre des ansériformes
                  et à la famille des anatidés.
                  Le cygne tuberculé est un oiseau relativement silencieux comparé au cygne chanteur ou au cygne
                  siffleur.
                  Le cygne blanc mange principalement des plantes aquatiques (algue verte, saule…) qu’il trouve
                  dans l’eau. Il se nourrit également de différentes graminées qu’il va chercher sur les berges
                  des étangs ou des lacs.

                  Occasionnellement, l’oiseau se nourrit de petits animaux (amphibiens, mollusques, insectes).</p>
              </div>
            </div>
            <div class="jungle-column">
              <div class="jungle-content">
                <div class="animal-dossier">
                  <img src="../img/marais/marais-flamant_rose.jpg" alt="flamant rose">
                  <div></div>
                </div>
                <h3>Flamant rose</h3>
                <p>
                  Cet oiseau est la seule espèce
                  de phœnicoptéridé (famille des flamants) représentée en Europe.
                  L'oiseau présente un corps entièrement rose clair, de longues pattes roses palmées,
                  un bec court et recourbé, à pointe noire.
                  Le Flamant rose a un régime alimentaire très spécialisé qui le rend très vulnérable en cas de
                  non disponibilité de la ressource (par exemple lors d'hivers rigoureux).
                   Il capture une espèce de crevette appelée Artemia salina. 
                   Cette dernière (notamment) est à l'origine de la
                  couleur rose du flamant. 
                  Artemia salina contient des pigments kéto-caroténoïdes. Notre unique phœnicoptéridé
                  français consomme aussi d'autres invertébrés et végétaux aquatiques. 
                </p>
              </div>
            </div>
            <div class="jungle-column">
              <div class="jungle-content">
                <div class="animal-dossier">
                  <img src="../img/marais/marais-hippopotame-jonathan-gohner-qxVxn-Mp8f4-unsplash.jpg"
                    alt="hippopotame">
                  <div></div>
                </div>
                <h3>Hippopotame</h3>
                <p>Les hippopotames sont herbivores et se nourrissent principalement d'herbe,
                  de plantes aquatiques et parfois d'autres types de végétation.
                  Leur nourriture préférée comprend des plantes aquatiques comme les nénuphars,
                  les algues et les herbes riveraines. Les hippopotames peuvent consommer
                  jusqu'à 45 kg de nourriture par jour! Ils sortent de l'eau la nuit
                  pour brouter de l'herbe et chercher de la nourriture.
                </p>
              </div>
            </div>
          </div>
        </div>
  </main>
  <!--THE FOOTER-->
  <footer>
    <button id="myPlanBtn"><a href="/asset/images/map-arcadia/Zoo_Arcadia_Forêtde_Broceliande.png" alt="map">
    </a>Plan</button>
    
    <button id="myHorairesBtn">Horaires</button>

    <a href="https://www.instagram.com/mini_arcadia" class="footer-links">Nous retouver sur Instagram</a>
    <!--JS FETCH
    <p id="copyright">Fetch a file to change this text.</p>-->
    <a href="" class="footer-links">Copyright</a>

  </footer>

  <script src="./view/script.js/index.js"></script>
  <script src="./view/script.js/index_login.js"></script>
  <script src="./vieuw/script.js/contact.js"></script>
  <!--<script src="./view/script.js/notice.js"></script>
  <script src="./view/script.js/footer.js"></script>
  <script src="./view/script.js/plan.js"></script>
  <script src="./view/script.js/horaires.js"></script>-->

</body>
</html>