<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://127.0.0.1:3000/index.html">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../pages.html/contact.html">
  <link rel="stylesheet" href="../css/gallery.css">
  <link rel="stylesheet" href="../css/login.css">
  <link rel="stylesheet" href="../css/footer.css">
  <title>Marais</title>
</head>

<body>

  <header>
    <nav class="topnav">
      <img src="../img/logo-zoo-arcadia/logo-min-arcadia.png" alt="logo arcadia" class="navlogo">
      
      <a href="http://127.0.0.1:3000/index.html" class="active">Home
        <img src="../img/icon/arrow-left-solid.svg" alt="arrow-left-solid" class="arrowleft">
      </a>
      <a href="#notice">Avis</a>
      <a href="./view/pages.html/contact.html">Contact</a>
      <a href="./view/pages.html/login.html" class="split">Login</a>
    </nav>
    <div class="presentation">

      <div>
        <h1> La savane </h1>
        <h2>
        </h2>
      </div>
    </div>
  </header>