
body{
  position: absolute;
  width: 100%; 
  margin: 0;
  padding: 0 5px;
}
.animal-header{
  font-size: large;
}
main{
  position: absolute; 
  display: flex;
  flex-direction: row;
  
 } 
h2:hover {
    background-color: #F74E45;
    color: black;
  }
.split {
  width: 50%;
  position:relative;
  z-index: 0;
  overflow-x: hidden;
  padding-top: 0px;
}
.left {
  left: 0;
  background-color: #094920;
  font-size: large;
}
.centered {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
.centered img {
  width: 200px;
  border-radius: 5%;
  box-shadow: 2px 2px 4px 0 white;
}
.right {
  right: 0;
  background-color: azure;
  color: black;
 font-size:large;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
@media screen and (max-width : 600px){
  .animal-health{
    font-size:small;
  }
  .left{
    top:-0%;
  }
  .right{
    font-size: small;
  }

}
@media screen and (max-width : 400px) {
  .animal-health{
    font-size:x-small;
  }
  .left{
    top:0%;
  }
  .right{
    font-size: x-small;
  }
}
