/* FORM*/
#more {display: none;}
.form-body{
  font-family: "Roboto Flex", "Montserrat", sans-serif;
  margin: 0 10px;
  background-color: #6da281;
  color: black;
  padding: 0px 10px;
}
.form{
  background-color: #094920;
  color: white;
  padding: 20px;
}
.form-link{
  color: black;
  text-decoration: none;
  margin-left: 10px;
}
.arrowleft{
  width: 25px;
}
.presentation{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 20px;
}
.logo{
    width: 100px;
}
  label{
    font-size: 18px;
  }
  input[type=email], input[type=text], textarea {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 3px solid #3d4d43;
   border-radius: 4px;
   box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: white;
    font-size: large;
    padding: 14px 20px;
    margin: 10px 0;
    margin-bottom: 50px;
    border: solid 4px #f74e45;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #f74e45;
    color: black;
    font-weight: bolder;
  }

  @media screen and (max-width: 400px){
    input[type=submit]{
      font-size: medium;
    }
  }