/*.spinner {
  height: 100%;
  background: #094920;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 2s linear;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoSpinner{
  display: flex;

  width: 100px;
  height: 100px;
  position: relative;
  animation-name: slide-down;
  animation-duration: 3s;  
  animation-delay: 2s;
  animation-fill-mode: backwards;
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slide-down {
  from {top: -200px; background-color: white;}
  to {top: 0px;}
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
*/
body{
  font-family:'Roboto Flex, Montserrat, sans serif';
  background-color: #3D4D43;
  color: white;
  padding: 20px;
} 
.topnav {
  background-color: #094920;
  overflow: hidden;
  box-shadow: inset 2px 2px 0px 0px #54F790;
  border-radius: 4px;
  width: 100%;
}
.navlogo{
  width: 100px;
  border-radius: 4px;
  border: solid #094920 1px;
  box-shadow: 2px 2px 2px 2px black;
  margin-left: 25%;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.topnav .active {
  background-color: #54F790;
  color: black;
}
.topnav a:hover {
  background-color:#F74E45 ;
  color: black ;
  font-weight: bold;
}
.topnav a.split {
  float: right;
  color: white;
}
.topnav a.split:hover{
  background-color: white;
  border: solid 6px #F74E45;
  color: black;
}
.logo{
  width: 20%;
}
.nav {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.presentation{
  display: flex;
  align-items: center;
}
h1{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #3D4D43;
  box-shadow: 2px 4px #54F790;
}

@media screen and (max-width: 500px) {

  .logo{
    width: 30%;
  }
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
}
