/*LOGIN FORM*/
.log-body{
  font-family: "Roboto Flex", "Montserrat", sans-serif;
  margin: 0 10px;
  background-color: #6da281;
  color: black;
  padding: 0px 10px;
}
.arrowleft{
  width: 25px;
}
.presentation{
  display: flex;
  justify-content: center;
}
.form{
  background-color: #094920;
  color: white;
  padding: 20px;
  margin-bottom: 70px;
}
label{
  font-size: large;
  margin: 20px ;
}
input[type=text], input[type=email], input[type=password], textarea {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #094920;
  border-radius: 4px;
  box-sizing: border-box;
 }
  .loginbtn{
  background-color: #f74e45;
  color: black;
  font-size: large;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 .login-forgot{
  display: flex;
  justify-content: flex-end;
 }
.psw:hover, a:hover{
  background-color: #f74e45;
  color: black;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}

